@tailwind base;
@tailwind components;
@tailwind utilities;

/* Breakpoints used:
@media (max-width: 1024px) - for medium screens and small desktops
@media (max-width: 768px) - for tablets and small screens
@media (max-width: 480px) - for mobile devices
@media (min-width: 1200px) - for large screens and desktops */

:root {
  --orange: #ed553b;
  --black: #000;
  --white: #fff;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 24px;
  --font-size18: 18px;
  --font-size20: 20px;
  --font-size25: 25px;
  --font-size38: 38px;
  --font-size60: 60px;
  --font-size86: 86px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--font-size18);
  font-weight: 400;
}

img {
  object-fit: contain;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.MuiButtonBase-root {
  text-transform: none !important;
}
